<h1 class="text-center text-white my-4" >{{ title }}</h1>
<div class="container py-4 bg-white rounded">
    <div class="row d-flex">
        <div class="col-md-12 d-flex justify-content-end">
            <app-btn-new-card [style]="'btn btn-success pull-right mb-3'" [label]="'Nova tarefa'" (addNewCard)="newCard($event)"></app-btn-new-card>
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="col-md-4" *ngFor="let card of cards; let i = index">
            <app-card [card]="card" [cardIndex]="i" (notifyDeleteCard)="deleteCard($event)"></app-card>  
        </div>
    </div>
</div>

